body {
  background-color: #ff8484;
  animation: rotate 1s ease 0s infinite;
  animation-direction: normal;
}

@keyframes rotate {
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 270deg;
  }
  100% {
    rotate: 360deg;
  }
}

div:first-child {
  background: #02042e url(images/header-bg.jpg) repeat 0 0;
}
div [data-list="user"] > li:not(:fisrt-child):not(:last-child) button {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

div:ch

/*
// for bookings 
import { IoBookmarkOutline } from "react-icons/io5";

// for adding 
import { IoAddCircleOutline } from "react-icons/io5";

// for cabins
import { IoAlbumsOutline } from "react-icons/io5";



*/
